@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  /* gray 600 */
  /* color: #4b5563 */
  /* gray 700 */
  color: #374151;
  /* gray 800 */
  /* color: #1f2937 */
  font-family: 'Inter', sans-serif;
}
@media (min-width: 992px) {
  .customWidth {
    width: 265px;
  }
}
/* FONT SIZE */
.text-sm {
  font-size: 13.6px;
}

.text-md {
  font-size: 14.6px;
}

.text-lg {
  font-size: 15.6px;
}


/* TEXT COLOR */
.text-primary {
  color: #6366f1!important
}

.text-primary:hover {
  color: #4f46e5!important
}

.text-secondary {
  /* color: #94a3b8!important */
}

.text-success {
  color: #22c55e!important
}

.text-info {
  /* color: #3b82f6!important */
}

.text-warning {
  /* color: #f59e0b!important */
}

.text-danger {
  /* color: #ef4444!important */
}

.text-light {
  /* color: #f9fafb!important */
}

.text-dark {
  /* color: #1f2937!important */
}

/* BUTTON COLOR */
.btn-primary {
  color: #fff;
  background-color: #6366f1;
  border-color: #6366f1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4f46e5;
  border-color: #4f46e5;
}

.btn-secondary {
  color: #374151;
  background-color: #d1d5db;
  border-color: #d1d5db;
}

.btn-secondary:hover {
  color: #000;
  background-color: #c4cdd5;
  border-color: #c4cdd5;
}

.btn-success {
  color: #fff;
  background-color: #22c55e;
  border-color: #22c55e;
}

.btn-info {
  color: #fff;
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.btn-warning {
  color: #fff;
  background-color: #f59e0b;
  border-color: #f59e0b;
}

.btn-danger {
  color: #fff;
  background-color: #ef4444;
  border-color: #ef4444;
}

.btn-light {
  color: #fff;
  background-color: #f9fafb;
  border-color: #f9fafb;
}

.btn-dark {
  color: #fff;
  background-color: #1f2937;
  border-color: #1f2937;
}

/* Hero section */
.btn-get-started{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background-color: #3b82f6;
  border-color: #3b82f6;
  text-decoration: none;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

/* About section */
.about {
  padding: 0;
  margin-top: 40px;
}

.about .container {
  background-color: #f7f8f9;
  padding: 60px 50px;
}

/* Team section */
.team .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.team .icon-box:hover {
  transform: translateY(-5px);
}

.team .icon-box-pink:hover {
  border-color: #ff689b;
}

.team .icon-box-cyan:hover {
  border-color: #3fcdc7;
}


.team .icon-box-green:hover {
  border-color: #41cf2e;
}

.team .icon-box-blue:hover {
  border-color: #2282ff;
}

.link-offers{
  text-decoration: none;
  color: #2282ff;
}

/* Faqs section */

.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #e3e7e9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #009cea;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #007ab7;
  transition: 0.3s;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  color: black;
}

.faq .faq-list .collapsed:hover {
  color: #009cea;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/* Contact info */

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  border: 2px solid #e9ecee;
  border-radius: 4px;
}


.contact .info i {
  font-size: 20px;
  color: #009cea;
  float: left;
  width: 44px;
  height: 44px;
  background: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.iframe{
  border:0; width: 100%; height: 290px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #364146;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #627680;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #009cea;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #009cea;
  color: #fff;
}

.contact .php-email-form button[type=submit] {
  background: #009cea;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

/* Footer section */

#footer {
  background: #f7f8f9;
  padding: 0 0 30px 0;
  color: #364146;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}



